.header {
  text-align: center;
}

.post {
  margin: 50px 0px;
  padding: 20px;
  background-color: #333;
  color:white;
}

.about {
  border-radius: 150px;
  padding: 20px;
  background-color: rgb(74, 77, 255);
}